@import "tailwindcss";
@theme {
    --color-primary: #ffffff;
    --color-primary1: #363738;
    --color-secondary: #f5f5f5;
    --color-secondary1: #fefaf1;
    --color-bg: #ffffff;
    --color-text: #fafafa;
    --color-text1: #7d8184;
    --color-text2: #000000;
    --color-secondary2: #db4444;
    --color-button1: #00ff66;
    --color-hover-button: #e07575;
  }